{
  "extends": "stylelint-config-recommended",
  "rules": {
    "indentation": 2,
    "unit-whitelist": ["%", "rem", "s", "px", "vh", "vw", "deg", "ms", "em"],
    "property-no-unknown": [true, {
      "ignoreProperties": ["/^composes$/"]
    }],
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["value"]
    }],
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["/^global$/", "/^local$/"]
    }],
    "no-missing-end-of-source-newline": [true],
    "selector-class-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$"
  }
}