@import '../../../../style/colors.scss';

.common {
  width: 500px;
  height: 165px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  border-radius: 10px;
  padding: 10px 15px;
  margin: 5px 0px;

  background-color: $brown;
}

.content {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid $black;
}

.footer {
  margin-top: 10px;
}
