@import '~style/colors.scss';

.common {
  display: flex;

  width: 100%;
  height: 40px;
  box-sizing: border-box;
  position: relative;

   // make overflow:hidden work in safari
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;

  background-color: $armadillo;

  border-radius: 10px;

  color: $white;
  font-size: 14px;
}

.loader-bar {
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
  background-color: $green;
  animation: loader-bar linear;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loader-bar {
  to {
    transform: translateX(0); 
  }
}
